*{
    background-color: #124559;
}
h1, h2, p{
    color: #F6F8FF;
}
.jumbotron{
    border-style: solid;
    border-color: #598392;
    background: none !important;
}
ul {
    list-style-type: none;
}
a{
    color: #F6F8FF !important;
    font-weight: bold;
}